<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% extends 'base.html' %}
{% block content %}
  {% for message in messages %}
    <div style="text-align: center;" class=" dalert alert alert-{{ message.tags }} rounded-0" role="alert">{{ message }}</div>
  {% endfor %}
  
  <center>
    
    <br />
    <h1 class="text-center mb-4">Books you have issued</h1>
    <br />
    <div class="col-md-8 mx-auto">
      <div class="row mb-3">
        <div class="col-md-8 mx-auto mt-4">
          <div class="input-group">
            <input style="color: black; !important" id="search" type="search" class="form-control form-control-lg rounded" placeholder="Search Book" aria-label="Search" aria-describedby="search-addon" autocomplete="off" />
            <button class="btn btn-primary" id="searchBtn">Search</button>
          </div>
        </div>
      </div>    </div>
  </center>
  
  <br />
  
  <div class="container" >
    <table class="table ">
      <thead class="thead-dark" style="text-align: center;">
        <tr class="row">
          <th class="col-1" scope="col">Book Pic</th>
          <th class="col-4" scope="col">Book Name</th>
          <th class="col-4" scope="col">Author Name</th>
          <th class="col-3" scope="col" class="text-center">Return</th>
        </tr>
      </thead>
      <tbody id="table_data" data-aos="fade-up" data-aos-duration="400" class="center-content">
        {% for book in books %}
          <tr class="row">
            <td class="col-1"><img style="width: 100%;" src="{{ book.book_pic_url }}" alt=""></td>
            <td class="col-4">{{ book.book_name }}</td>
            <td class="col-4">{{ book.author_name }}</td>
            <td class="col-3" class="text-center">
              <form action="{% url 'return_item' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}" />
                <button type="submit" class="btn btn-danger">Return</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function () {
      $('#search').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $('#table_data tr').filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });

      $('#themeSwitcher').on('change', function () {
        if ($(this).is(':checked')) {
          enableDarkMode();
        } else {
          enableLightMode();
        }
      });

      function enableDarkMode() {
        $('body').css('background-color', '#121212');
        $('body').css('color', '#ffffff'); // Text color for dark mode
        $('.container').css('background-color', '#1e1e1e');
        $('table').removeClass('table-hover').addClass('table-dark');
        $('.btn-primary').removeClass('btn-primary').addClass('btn-secondary');
      }

      function enableLightMode() {
        $('body').css('background-color', '#f4f4f4');
        $('body').css('color', '#212529'); // Text color for light mode
        $('.container').css('background-color', '#ffffff');
        $('table').addClass('table-hover').removeClass('table-dark');
        $('.btn-secondary').removeClass('btn-secondary').addClass('btn-primary');
      }
    });
  </script>
<script>
  
<script>
  function searchBook(value) {
    document.getElementById("search").value = value;
    document.getElementById("search").focus();
  }

  $(document).ready(function () {
    $('#search').on('keyup', function () {
      var value = $(this).val().toLowerCase();
      filterTable(value);
    });

    $('#searchBtn').click(function () {
      var value = $('#search').val().toLowerCase();
      filterTable(value);
    });

    function filterTable(value) {
      $('#table_data tr').filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    }
  });
</script>

</script>
  <style>
    .center-content {
      display: flex;
      flex-direction: column;
      align-items: center; /* Horizontal center alignment */
    }
    
    .center-content tr {
      width: 100%;
      display: flex;
      justify-content: center; /* Horizontal center alignment */
    }
    
    .center-content td,
    .center-content th {
      display: flex;
      justify-content: center; /* Horizontal center alignment */
      align-items: center; /* Vertical center alignment */
    }
    .table thead th {
      border-top: none;
    }
    
    .table tbody tr:hover {
      background-color: #f5f5f5;
    }
    
    .input-group {
      margin-bottom: 20px;
    }
    
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-secondary {
      background-color: #6c757d;
      border-color: #6c757d;
    }
    
    .btn-primary:hover, .btn-secondary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    
    .btn-primary:focus, .btn-secondary:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
  </style>
{% endblock %}
